/* -- CUSTOM FONT -- */
@font-face {
  font-family: RobotoSlab;
  src: url(../asset/font/RobotoSlab-Variable.ttf);
}

/* -- COMMON PARAMETER -- */
:root {
  --purple: #7800f0;
  --purple-2: #8c1aff;
  --purple-dark: #5c00b8;
  --purple-lite: #c8a0f0;
  --purple-lite-2: #dcc8f0;
  --gray: #222;
  --gray-2: #444;
  --gray-lite: #bbb;
  --gray-lite-2: #ddd;
  --gray-lite-3: #999;
  --white: #fff;
  --black: #000;
  background-color: var(--black);
  color: var(--white);
  font-family: RobotoSlab, sans-serif;
  font-size: 84%;
}

body { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  color: var(--purple-lite);
}

a {
  color: var(--purple-lite);
  text-decoration: none;
  &:hover { color: var(--purple-lite-2); }
}

/* -- APPLICATION LAYOUT -- */
.app {
  display: grid;
  grid-template-columns: min-content auto min-content;
}

/* -- MAIN SECTION -- */
.main {
  min-height: 84vh;

  .header {
    background-color: var(--gray);
    border-bottom: 1px solid var(--gray-2);
    padding: 0.8rem;
    text-align: center;
    .logo { max-height: 4rem; }
  }

  .content {
    display: flex;
    flex-flow: row wrap;
    max-width: 62vw;
    margin: auto;
    padding-top: 1rem;
    /* border: 1px dashed cyan; */

    .wg-full { min-width: 99%; }
    .wg-half { min-width: 50%; }

    .widget {
      flex: auto;
      margin: 0 0.4rem 1rem 0.4rem;

      .wg-header {
        padding: 0.6rem 1rem;
        background-color: var(--purple);
        border: 1px solid var(--purple-dark);
        font-size: 120%;
        font-weight: bold;
      }

      .wg-content {
        display: flex;
        padding: 1rem;
        min-height: 4rem;
        background-color: var(--gray);
        border: 1px solid var(--gray-2);
        border-top: 0;
        div { flex: auto; margin: 0 0.4rem; }
        .wg-button {
          display: inline-block;
          padding: 0.8rem 1.6rem;
          border: 2px solid var(--purple-dark);
          border-radius: 2rem;
          background-color: var(--purple);
          color: var(--white);
          font-weight: bold;
          text-transform: uppercase;
          &:hover { background-color: var(--purple-2); }
        }
      }
    }
  }
}

/* -- SIDEBAR SECTION -- */
.sidebar {
  background-color: var(--gray);

  .sb-header {
    display: flex;
    padding: 0;
    position: sticky;
    top: 0px;
    background-color: var(--purple);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;

    .sb-label {
      display: block;
      width: 100%;
      padding-top: 0.6rem;
      text-align: center;
    }

    .sb-button {
      background-color: var(--purple);
      border: 2px solid var(--purple-dark);
      color: var(--white);
      display: inline-block;
      font-size: 1.6rem;
      font-weight: bold;
      padding: 0.2rem 0;
      text-align: center;
      width: 3rem;
      &:hover { background-color: var(--purple-2); }
    }
  }

  .menu-header {
    display: block;
    position: relative;
    padding: 0.6rem;
    background-color: var(--gray-lite);
    border: 1px solid var(--gray-lite-3);
    color: var(--gray);
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: nowrap;
    &:hover { background-color: var(--gray-lite-2); }
    &::after {
      content: "˅";
      position: absolute;
      margin-top: 0.3rem;
      right: 0.8rem;
    }

    .menu-icon {
      display: inline-block;
      width: 2rem;
      padding: 0.36rem 0;
      border-radius: 50%;
      background-color: var(--gray);
      color: var(--gray-lite);
      font-weight: bold;
      text-align: center;
    }

    .menu-label { margin: 0 1.6rem 0 0.4rem; }
  }

  .mh-c {
    &::after {
      content: "˃";
      position: absolute;
      margin-top: 0.3rem;
      right: 0.8rem;
    }
  }

  .mh-x {
    background-color: var(--gray);
    border: 0;
    color: var(--gray-lite);
    &:hover { background-color: var(--gray-2); }

    .menu-label { display: none; }

    .menu-icon {
      display: inline-block;
      width: 2rem;
      padding: 0.36rem 0;
      border-radius: 50%;
      background-color: var(--gray-lite);
      color: var(--gray);
      font-weight: bold;
      text-align: center;
    }
  }

  .menu-item {
    display: block;
    padding: 0.6rem;
    color: var(--gray-lite);
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: nowrap;
    &:hover { background-color: var(--gray-2); }

    .menu-icon {
      display: inline-block;
      width: 2rem;
      padding: 0.36rem 0;
      border-radius: 50%;
      background-color: var(--gray-lite);
      color: var(--gray);
      font-weight: bold;
      text-align: center;
    }

    .menu-label {
      margin: 0 0.8rem 0 0.4rem;
    }
  }
}

.sb-left { border-right: 1px solid var(--gray-2); }
.sb-right { border-left: 1px solid var(--gray-2); }

/* -- FOOTER SECTION -- */
.footer {
  grid-column: 1 / span 3;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--gray);
  border: 1px solid var(--gray-2);
  padding: 0.8rem;
  .divider { display: inline-block; margin: 0 0.6rem; color: var(--gray-2); }
  .coded { font-family: monospace; font-size: 120%; color: #5af }
}