/* -------------------------------------------------------------
WHAT : Entrance View - Standalone Stylesheet
WHY  : Styles for Elements that are unique and different from
       the rest of the Product.
------------------------------------------------------------- */

/* Viewport Wrapper */
.view {
  display: flex;
  height: 100vh;
  overflow: hidden;

  /* Content Limiter */
  .limiter {
    width: 62%;
    max-height: 92vh;
    margin: auto;

    /* Content Group */
    .group {
      padding: 2rem;
      background-color: rgba(34, 34, 34, 0.6);
      backdrop-filter: blur(1px);
      border: 1px solid var(--gray-2);
      border-radius: 1rem;
      max-height: 84vh;
      overflow: hidden;

      /* Flex Container */
      .flex {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }

      /* Header Section */
      .header {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--gray-2);
        margin-bottom: 2rem;

        /* Control Section */
        .control {
          cursor: pointer;
          align-self: flex-start;
          padding: 0.6rem;
          background-color: var(--purple);
          border: 2px solid var(--purple-dark);
          border-radius: 50%;
          &:hover { background-color: var(--purple-2); }
        }
      }

      /* Content Section */
      .content {
        padding-right: 1rem;
        max-height: 72vh;
        overflow: auto;

        hr {
          margin: 3rem auto;
          border: 0;
          border-bottom: 1px solid var(--gray-2);
        }
      }

      /* Widget */
      .widget {
        flex: 1 1 400px;
        border: 1px solid var(--gray-2);
        border-radius: 1rem;
        min-height: 4rem;
        padding: 2rem;
        .center { text-align: center; }
        .button { min-width: 8rem; }
      }

      /* Logo Wrapper */
      .logo { width: 100%; text-align: center; } 

      /* Tagline Element */
      .tagline {
        margin: 1rem auto;
        width: 100%;
        text-align: center;
        color: var(--purple-lite);
        font-size: 1.6rem;
      } 
    }

    /* Footer Wrapper */
    .footer {
      margin-top: 1rem;
      border-radius: 1rem;
      background-color: rgba(34, 34, 34, 0.6);
      backdrop-filter: blur(1px);
    }
  }
}