/* -------------------------------------------------------------
WHAT : Entrance View - Standalone Stylesheet
WHY  : Styles for Elements that are unique and different from
       the rest of the Product.
------------------------------------------------------------- */

/* Full Viewport Wrapper */
.entrance {
  display: flex;
  height: 100vh;

  /* Content Wrapper */
  .entrance-content {
    width: 62%;
    margin: auto;

    /* Logo Wrapper */
    .logo {
      text-align: center;
      img { width: 38%; height: auto; }
    }

    /* Tagline Wrapper */
    .tagline { margin: 4rem auto; text-align: center; }

    /* Content Wrapper */
    .content {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      /* Widget */
      .widget {
        flex: 1 1 500px;
        background-color: rgba(34, 34, 34, 0.6);
        backdrop-filter: blur(1px);
        border: 1px solid var(--gray-2);
        border-radius: 1rem;
        min-height: 4rem;
        padding: 2rem;
        .center { text-align: center; }
        .button { min-width: 8rem; }
      }
    }

    /* Footer Wrapper */
    .footer {
      margin-top: 1rem;
      border-radius: 1rem;
      background-color: rgba(34, 34, 34, 0.6);
      backdrop-filter: blur(1px);
    }
  }
}

/* -- Animated Background: Starry Sky -- */

/* Background Wrapper */
.starry-sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;

  /* Fast Moving Layer */
  .star-fast {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100vh;
    animation: drift 30s linear infinite;
  }

  /* Slow Moving Layer */
  .star-slow {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100vh;
    animation: drift 60s linear infinite;
  }

  /* Star Field: Big */
  .star-big {
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      /* Part 1 of 2 */
      30px 234px #bfd, 90px 302px #bdf,
      150px 208px #ddf, 210px 621px #fdb,
      270px 47px #bfd, 330px 409px #bdf,
      390px 119px #ddf, 450px 592px #fdb,
      510px 725px #bfd, 570px 895px #bdf,
      630px 507px #ddf, 690px 911px #fdb,
      750px 669px #bfd, 810px 702px #bdf,
      870px 562px #ddf, 930px 995px #fdb,
      990px 75px #bfd, 1050px 588px #bdf,
      1110px 789px #ddf, 1170px 578px #fdb,
      1230px 851px #bfd, 1290px 268px #bdf,
      1350px 802px #ddf, 1410px 806px #fdb,
      1470px 101px #bfd, 1530px 38px #bdf,
      1590px 895px #ddf, 1650px 955px #fdb,
      1710px 516px #bfd, 1770px 70px #bdf,
      1830px 367px #ddf, 1890px 969px #fdb,
      /* Part 2 of 2 */
      1950px 234px #bfd,2010px 302px #bdf,
      2070px 208px #ddf,2130px 621px #fdb,
      2190px 47px #bfd,2250px 409px #bdf,
      2310px 119px #ddf,2370px 592px #fdb,
      2430px 725px #bfd,2490px 895px #bdf,
      2550px 507px #ddf,2610px 911px #fdb,
      2670px 669px #bfd,2730px 702px #bdf,
      2790px 562px #ddf,2850px 995px #fdb,
      2910px 75px #bfd,2970px 588px #bdf,
      3030px 789px #ddf,3090px 578px #fdb,
      3150px 851px #bfd,3210px 268px #bdf,
      3270px 802px #ddf,3330px 806px #fdb,
      3390px 101px #bfd,3450px 38px #bdf,
      3510px 895px #ddf,3570px 955px #fdb,
      3630px 516px #bfd,3690px 70px #bdf,
      3750px 367px #ddf,3810px 969px #fdb;
  }

  /* Star Field: Small */
  .star-small {
    position: absolute;
    width: 1px;
    height: 1px;
    box-shadow:
      /* Part 1 of 2 */
      30px 137px #fff, 90px 970px #fff,
      150px 492px #fff, 210px 919px #fff,
      270px 365px #fff, 330px 612px #fff,
      390px 262px #fff, 450px 622px #fff,
      510px 650px #fff, 570px 802px #fff,
      630px 219px #fff, 690px 808px #fff,
      750px 448px #fff, 810px 51px #fff,
      870px 662px #fff, 930px 51px #fff,
      990px 684px #fff, 1050px 154px #fff,
      1110px 77px #fff, 1170px 456px #fff,
      1230px 979px #fff, 1290px 283px #fff,
      1350px 175px #fff, 1410px 806px #fff,
      1470px 526px #fff, 1530px 265px #fff,
      1590px 536px #fff, 1650px 600px #fff,
      1710px 377px #fff, 1770px 957px #fff,
      1830px 681px #fff, 1890px 391px #fff,
      /* Part 2 of 2 */
      1950px 137px #fff, 2010px 970px #fff,
      2070px 492px #fff, 2130px 919px #fff,
      2190px 365px #fff, 2250px 612px #fff,
      2310px 262px #fff, 2370px 622px #fff,
      2430px 650px #fff, 2490px 802px #fff,
      2550px 219px #fff, 2610px 808px #fff,
      2670px 448px #fff, 2730px 51px #fff,
      2790px 662px #fff, 2850px 51px #fff,
      2910px 684px #fff, 2970px 154px #fff,
      3030px 77px #fff, 3090px 456px #fff,
      3150px 979px #fff, 3210px 283px #fff,
      3270px 175px #fff, 3330px 806px #fff,
      3390px 526px #fff, 3450px 265px #fff,
      3510px 536px #fff, 3570px 600px #fff,
      3630px 377px #fff, 3690px 957px #fff,
      3750px 681px #fff, 3810px 391px #fff;
  }
}

/* Animation Logic */
@keyframes drift {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}